branches/mule-2.0.x-schema-annotations/transports/email/src/main/resources/META-INF/mule-imap.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesource.org/schema/mule/imap/2.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesource.org/schema/mule/core/2.0"
            xmlns:email="http://www.mulesource.org/schema/mule/email/2.0"
            targetNamespace="http://www.mulesource.org/schema/mule/imap/2.0"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.mulesource.org/schema/mule/core/2.0" 
                schemaLocation="http://www.mulesource.org/schema/mule/core/2.0/mule.xsd" />
    <xsd:import namespace="http://www.mulesource.org/schema/mule/email/2.0"
                schemaLocation="http://www.mulesource.org/schema/mule/email/2.0/mule-email.xsd"/>

    <xsd:import namespace="http://www.mulesource.org/schema/mule/core/2.0"/>
        
    <xsd:annotation>
        <xsd:documentation>The IMAP transport can be used to for receiving messages from IMAP inboxes using the {{javax.mail}} API. The [IMAPS Transport] is similar but uses secure connections over SSL/TLS.</xsd:documentation>
        <xsd:appinfo>
            <schemadoc:short-name>imap</schemadoc:short-name>
            <schemadoc:page-title>IMAP Transport</schemadoc:page-title>
            <schemadoc:transport-features receiveEvents="true" dispatchEvents="true" responseEvents="true"
                                          requestEvents="true"
                                          transactions="false" streaming="true">
                <schemadoc:inboundMEPs in-only="true" in-optional-out="true" in-out="true"/>
                <schemadoc:outboundMEPs out-only="true" out-in="true" out-optional-in="true"/>
            </schemadoc:transport-features>
        </xsd:appinfo>
    </xsd:annotation>
        
    <xsd:element name="connector" type="imapConnectorType" substitutionGroup="mule:abstract-connector">
        <xsd:annotation>
            <xsd:documentation>
                Allows Mule to communicate over IMAP. 
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="imapConnectorType">
        <xsd:complexContent>
            <xsd:extension base="email:emailDownloadConnectorType"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="inbound-endpoint" type="inboundEndpointType" substitutionGroup="mule:abstract-inbound-endpoint"/>
    <xsd:complexType name="inboundEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:inboundEndpointType">
                <xsd:attributeGroup ref="email:addressAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="endpoint" type="globalEndpointType" substitutionGroup="mule:abstract-global-endpoint"/>
    <xsd:complexType name="globalEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:globalEndpointType">
                <xsd:attributeGroup ref="email:addressAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>