branches/mule-2.x-annotations/modules/annotations/src/main/resources/META-INF/mule-annotations.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesource.org/schema/mule/annotations/2.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesource.org/schema/mule/core/2.0"
            xmlns:spring="http://www.springframework.org/schema/beans"
            targetNamespace="http://www.mulesource.org/schema/mule/annotations/2.0"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans"/>
    <xsd:import namespace="http://www.mulesource.org/schema/mule/core/2.0"
                schemaLocation="http://www.mulesource.org/schema/mule/core/2.0/mule.xsd"/>

    <xsd:element name="service" type="annotatedServiceType" substitutionGroup="mule:abstract-service"/>

    <!--<xsd:element name="model" type="annotatedModelType" substitutionGroup="mule:abstract-model"/>-->

    <!--<xsd:complexType name="annotatedModelType">-->
        <!--<xsd:complexContent>-->
            <!--<xsd:extension base="mule:abstractModelType">-->
                <!--<xsd:sequence>-->
                    <!--<xsd:element name="service" type="annotatedServiceType" minOccurs="0" maxOccurs="unbounded"/>-->
                <!--</xsd:sequence>-->
            <!--</xsd:extension>-->
        <!--</xsd:complexContent>-->
    <!--</xsd:complexType>-->
    
    <xsd:complexType name="annotatedServiceType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractServiceType">
                <xsd:attribute name="class" type="mule:substitutableClass" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>
