branches/mule-2.0.x/tools/schemadocs/src/main/resources/META-INF/mule-schemadoc.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesource.org/schema/mule/schemadoc/2.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.mulesource.org/schema/mule/schemadoc/2.0"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:annotation>
        <xsd:documentation>This schema provides a schema doc extentions that can be embedded in Mule schemas. These
            elements will be used to render additional wiki content associated with the element being annotated.
            Elements within this schema should be embedded under 'xsd:element/xsd:annotation/xsd:appinfo'.
            To stick to convention and to ensure that XSLs will work this schema should be included in other mule
            schemas using the 'schemadoc' prefix namespace.
        </xsd:documentation>
    </xsd:annotation>

    <xsd:element name="snippet" type="snippetType">
        <xsd:annotation>
            <xsd:documentation>The snippet allows for code snippets to be associated with an element in a schema. This
                is useful for surfacing documentation on the wiki. When the schema reference is generated for the wiki,
                the code snippets will also be rendered when using the 'single-element-wike.xsl'.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="snippetType">
        <xsd:attribute name="id" type="xsd:NMTOKEN" use="required">
            <xsd:annotation>
                <xsd:documentation>The ID of the snippet to embed in the wiki page. This ID is embedded in the source
                    file using a START SNIPPET xxx comment.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="lang">
            <xsd:annotation>
                <xsd:documentation>The language format to use when rendering the content of the snippet on the wiki.
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="xsd:NMTOKEN">
                    <xsd:enumeration value="xml"/>
                    <xsd:enumeration value="java"/>
                    <xsd:enumeration value="javadoc"/>
                    <xsd:enumeration value="bash"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="sourcePath" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>This is the path to the source file. Note this should be relative to the project root
                    directory i.e. transport/jms/src/main/resources/etc...
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
