branches/mule-2.0.x-schema-annotations/transports/udp/src/main/resources/META-INF/mule-udp.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesource.org/schema/mule/udp/2.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesource.org/schema/mule/core/2.0"
            xmlns:schemadoc="http://www.mulesource.org/schema/mule/schemadoc/2.0"
            targetNamespace="http://www.mulesource.org/schema/mule/udp/2.0"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.mulesource.org/schema/mule/core/2.0" 
                schemaLocation="http://www.mulesource.org/schema/mule/core/2.0/mule.xsd" />

       //update the following info in the annotation to reflect the actual settings for this transport        
        <xsd:annotation>
            <xsd:documentation>The UDP transport can send and receive Mule events as Datagram packets.
            </xsd:documentation>
            <xsd:appinfo>
                <schemadoc:page-title>UDP Transport</schemadoc:page-title>
                <schemadoc:transport-features receiveEvents="true" dispatchEvents="true" responseEvents="false"
	requestEvents="true"
	transactions="true" streaming="false">
                    <schemadoc:inboundMEPs in-only="true"/>
                    <schemadoc:outboundMEPs out-only="true"/>
                </schemadoc:transport-features>
            </xsd:appinfo>
	</xsd:annotation>
            
    <xsd:element name="connector" type="udpConnectorType" substitutionGroup="mule:abstract-connector"/>

    <xsd:complexType name="udpConnectorType">
        <xsd:complexContent>
            <xsd:extension base="mule:connectorType">
                <xsd:attribute name="receiveBufferSize" type="mule:substitutableInt"/>
                <xsd:attribute name="receiveTimeout" type="mule:substitutableLong"/>
                <xsd:attribute name="sendBufferSize" type="mule:substitutableInt"/>
                <xsd:attribute name="sendTimeout" type="mule:substitutableLong"/>
                <xsd:attribute name="socketLinger" type="mule:substitutableLong"/>
                <xsd:attribute name="broadcast" type="mule:substitutableBoolean"/>
                <xsd:attribute name="keepSendSocketOpen" type="mule:substitutableBoolean"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="inbound-endpoint" type="inboundEndpointType" substitutionGroup="mule:abstract-inbound-endpoint"/>
    <xsd:complexType name="inboundEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:inboundEndpointType">
                <xsd:attributeGroup ref="addressAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="outbound-endpoint" type="outboundEndpointType" substitutionGroup="mule:abstract-outbound-endpoint"/>
    <xsd:complexType name="outboundEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:outboundEndpointType">
                <xsd:attributeGroup ref="addressAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="endpoint" type="globalEndpointType" substitutionGroup="mule:abstract-global-endpoint"/>
    <xsd:complexType name="globalEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:globalEndpointType">
                <xsd:attributeGroup ref="addressAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:attributeGroup name="addressAttributes">
        <xsd:attribute name="host" type="xsd:string"/>
        <xsd:attribute name="port" type="mule:substitutablePortNumber"/>
    </xsd:attributeGroup>

</xsd:schema>
